
@media (min-width: 988px) {
    .map {
      height: 100%;
    }
  }

#map {
    display: block;
    max-width: 37.6vw;
    float: left;
}
.leaflet-tile-loaded {
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
