body{
    background-color: white;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

nav {
    margin-top: 40px;
}

#nav {
    background-color: #F7F7F7; 
    justify-content: flex-end;
}

a.nav-link {
    background-color: #2196f3;
    margin-left: 3px;
    margin-right: 3px;
}

#search-buttom {
    color: white;
}

.navbar-nav {
    
    padding-top: 40px;
    padding-left: 150px;
}


#nav ul li a:visited {
    color: #2196f3;
    
}

#nav ul li a{
    float: left; text-decoration: none;
    color: #2196f3;
    padding: 10.5px 11px;
    background-color: #F7F7F7; 
    border-radius: 5px 5px 5px 5px;
}

#nav ul li a:hover, .menu ul li .current
{
    color: #fff;
    background-color: #2196f3;
    text-decoration: none;
}

#globo {
    background-color: transparent;
    border: transparent;
}


.container {
    background-color: white;
}

.logo {
    float: left;
    margin-right: 180px;
}

#covid-advise {
    background-color: #ececec;
}

#footer {
    color: white;
    padding-top: 50px;;
    background-color: darkgray;
}
#support-phrase {
    padding-left: 80px;
    padding-right: 150px;
    color: #2196f3;
}

#show-all {
    margin-top: 30px;
    color: #2196f3;
}

.img {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 30px;
}

.card {
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.card-title {
    margin-top: 30px;
}


.card-text {
    margin-bottom: 40px;
    text-align: center;
}

.pagination{
    justify-content: center;
}

.show_properties {
    color: #2196f3;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.list-properties {
    float: right;
}

#footer {
    margin-top: 30px;
    background-color: #2196f3;
}

#social_net {
display: flex;
justify-content: space-between;
margin-left: 20px;
margin-top: 20px;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 50px;
}

.net {
    margin-left: 80px;
    margin-right: 90px;
}